.psing { 
  margin-left: 67px;
  padding-bottom: 28px;
  padding-bottom: 39px;
  border-top-width: 20px;
  margin-right: 52px;
  padding-top: 76px;
  margin-left: 31px;
  padding-bottom: 56px;
  border-left-width: 80px;
  padding-right: 68px;
}
