.pvkpw { 
  border-top-width: 32px;
  padding-bottom: 95px;
  margin-right: 64px;
  font-size: 46px;
  padding-bottom: 90px;
  line-height: 8px;
  border-left-width: 29px;
  border-right-width: 85px;
  margin-right: 93px;
  border-right-width: 24px;
  padding-bottom: 52px;
  line-height: 7px;
}
